<div class="container">
  <h2>{{this.category.catName}}</h2>
  <table class="table table-dark table-striped table-responsive">
    <thead>
      <tr>
        <th>제목</th>
        <th>작성자</th>
        <th>조회수</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let board of this.pagination.dataList">
        <td>{{board.boTitle}}</td>
        <td>{{board.usId}}</td>
        <td>{{board.readCount}}</td>
      </tr>
    </tbody>
  </table>
  <div class="btn-group float-right">
    <button type="button" class="btn btn-primary" (click)="writeBoard()">글쓰기</button>
  </div>

</div>
